name: Generate Snake Contribution Graph

on:
  schedule:
    - cron: "0 */12 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - name: Generate Snake Animation (Tokyo Night)
        uses: Platane/snk@v3
        with:
          github_user_name: gestevees
          outputs: |
            dist/github-contribution-grid-snake.svg?color_snake=7aa2f7&color_dots=#2e3c64,#3b4261,#565f89,#7aa2f7,#bb9af7
            dist/github-contribution-grid-snake-dark.svg?palette=github-dark&color_snake=7aa2f7&color_dots=#1a1b27,#2e3c64,#3b4261,#7aa2f7,#bb9af7

      - name: Push to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
